{% block form_row %}
    {% apply spaceless %}
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <small class="col-sm-offset-2 text-danger">{{ form_errors(form) }}</small>
        </div>
    {% endapply %}
{% endblock form_row %}
